<section class="hero is-index is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-three-quarters">
          <h1 class="title is-2">
            Make the most of <div class="green">Shopify.</div>
          </h1>
          <h2 class="subtitle is-4 heroText">
            Professional Shopify setup and theme development to your specification.
          </h2>
        </div>
        <div class="column is-one-quarter has-text-centered	">
          <img src="download.png" alt="" class="heroImg"/>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>

<section class="section has-text-centered	">
  <p>
    <h4 class="subtitle is-3">Hey!</h4>
    <h4 class="subtitle is-4">
    I'm Patrick, a Canadian full stack freelance web developer. <br>
    I currently specialize in Shopify development, getting your e-commerce site online and selling quickly with style.<br>
    I'm available for freelancing gigs or remote jobs, and I'd love to chat with you about working on your project.
    Contact me and let's get started!
    </h4>
  </p>
</section>
