<footer class="footer">
  <div class="container">
    <hr>
    <div class="content has-text-centered">
      <p>
        <strong>Built</strong> by <a href="http://patrickbollenbach.com">Patrick Bollenbach</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/patrickbolle">
          <i class="fa fa-github"></i>
        </a>
        <a class="icon" href="https://twitter.com/patrickbolle">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="icon" href="https://linkedin.com/patrickbolle">
          <i class="fa fa-linkedin"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
